@import "../../../styles.scss";

.sourcesDiv {
  margin: 3% 0;
  width: 77%;
  height: 65%;
  overflow: overlay;
}

.source {
  background: #ebedf9;
  width: 25%;
  margin: 0% 8% 3% 0%;
  padding: 10px 20px;
  height: 420px;
  float: left;
}

.sourceKey {
  font-weight: 700;
}

#sourcesTitle {
  margin: 0 0 2%;
}

#sourceDesc {
  margin-top: 5%;
  height: 55%;
}

#sourceLink {
  margin: 2% 0% 5%;
}

.titleToCenter {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 77% !important;
}

#numberOfSources {
  margin: 0% 16%;
  font-size: 22px;
  text-align: right;
  color: #1a98fc;
  font-weight: bold;
}

.source>a {
  color: none;
}

#titleAndSearch {
  width: 100%;
  margin: 5% auto;
}
