/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
}

$app-green-color: rgb(92, 211, 92);

.dFlex {
  display: flex;
}

.fWbold {
  font-weight: 700;
}

.mR5pct {
  margin-right: 5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centerVertically {
  display: flex;
  align-items: center
}

.ng-invalid:not(form) {
  box-shadow: 0 0 5px 2px #e84848;
}

.displayNone {
  display: none;
}

.w40 {
  width: 40%
}

.w50 {
  width: 50%
}

.w60 {
  width: 60%
}

.w80 {
  width: 80%
}

.w90 {
  width: 90%
}

.w100 {
  width: 100%
}

.h100 {
  height: 100%;
}

.fLeft {
  float: left;
}

.mAuto {
  margin: auto
}

.pointer {
  cursor: pointer;
}

.fa-star {
  color: grey;
  font-size: 20px;
}

.active {
  color: rgb(241, 241, 20);
}

.mTop5pct {
  margin-top: 5%
}

.mTop10pct {
  margin-top: 10%
}

.opacity50 {
  opacity: 0.5;
}

.opacity100 {
  opacity: 1;
}

.success {
  color: green;
  margin: -3% 0% 2%;
}

.tAlignRight {
  text-align: right
}

.invalidField {
  color: #e84848;
  margin: -3% 0% 2%;
}
